<app-header></app-header>
<div class="px-4">
  <div class="mx-auto max-w-2xl">
    <h1
      class="text-center text-3xl font-bold tracking-tight text-primary sm:text-4xl"
    >
      Shopping Cart
    </h1>
    <form class="">
      <section aria-labelledby="cart-heading">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        <ul
          role="list"
          class="divide-y divide-gray-200 border-b border-t border-gray-200"
          *ngIf="cartItems.length !== 0; else emptyCart"
        >
          <li class="flex py-6" *ngFor="let item of cartItems">
            <div class="flex-shrink-0">
              <img [src]="getImage(item)" alt="" class="max-h-[60px]" />
            </div>

            <div class="ml-4 flex flex-1 flex-col sm:ml-6">
              <div>
                <div class="flex justify-between">
                  <h4 class="text-md">
                    <a
                      routerLink="/products/{{ item._id }}"
                      class="font-bold text-gray-700 hover:text-gray-800"
                      >{{ item.name }}</a
                    >
                  </h4>
                  <p class="ml-4 text-sm font-medium text-gray-900">
                    {{ item.totalAmount | takaCurrency }}
                  </p>
                </div>
              </div>

              <div class="mt-4 flex flex-1 items-end justify-between">
                <div class="flex items-center space-x-2 text-sm text-gray-700">
                  <p
                    class="text-primary text-2xl"
                    (click)="increaseQuantity(item._id)"
                  >
                    +
                  </p>
                  <p>{{ item.quantity }}</p>
                  <p
                    class="text-error text-2xl"
                    (click)="decreaseQuantity(item._id)"
                  >
                    -
                  </p>
                </div>
                <div class="ml-4">
                  <button
                    type="button"
                    class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                    (click)="handleRemoveFromCart(item._id)"
                  >
                    <span class="text-error">Remove</span>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ng-template #emptyCart>
          <p class="text-center text-3xl">Cart is empty</p>
          <div>
            <a routerLink="/home" class="btn btn-primary text-white w-full mt-4"
              >Continue Shopping</a
            >
          </div>
        </ng-template>
      </section>

      <!-- Order summary -->
      <section aria-labelledby="summary-heading" class="my-5">
        <h2 id="summary-heading" class="sr-only">Order summary</h2>
        <div class="">
          <dl class="space-y-4">
            <div class="flex items-center justify-between">
              <dt class="text-base font-medium text-gray-900">Total</dt>
              <dd class="ml-4 text-base font-medium text-gray-900">
                {{ total | takaCurrency }}
              </dd>
            </div>
          </dl>
          <!-- <p class="mt-1 text-sm text-gray-500">
            Shipping and taxes will be calculated at checkout.
          </p> -->
        </div>

        <div class="my-4" *ngIf="total !== 0">
          <div
            (click)="onCheckout()"
            type="submit"
            class="btn btn-primary w-full"
          >
            Checkout
          </div>
        </div>

        <div class="text-center text-sm text-gray-500 pb-16">
          <p>
            or
            <a
              routerLink="/home"
              class="font-medium text-primary hover:text-primaryGreenHover"
            >
              Continue Shopping
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        </div>
      </section>
    </form>
  </div>
</div>
<app-bottom-menu></app-bottom-menu>
