<!-- ! Product -->

  <div
    class="card card-compact w-96 bg-base-100 shadow-xl max-h-[300px] max-w-[150px] min-w-[150px] min-h-[200px]"
  >
    <figure>
      <img
        src="https://cdn1.arogga.com/eyJidWNrZXQiOiJhcm9nZ2EiLCJrZXkiOiJtZWRpY2luZVwvMTJcLzEyNDc0LUlNR18yMDIzMDQyMF8xNzA2MDEtZ21lcTZ3LmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMDAsImhlaWdodCI6MTAwMCwiZml0Ijoib3V0c2lkZSJ9LCJvdmVybGF5V2l0aCI6eyJidWNrZXQiOiJhcm9nZ2EiLCJrZXkiOiJtaXNjXC93bS5wbmciLCJhbHBoYSI6OTB9fX0="
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-sm">Napa</h2>
      <p class="text-xs">Lorem ipsum dolor sit amet.</p>
      <div class="card-actions justify-center">
        <button class="btn btn-primary btn-sm">Add to cart</button>
      </div>
    </div>
  </div>
