<section class="py-2 flex justify-center items-center h-screen w-full">
  <form [formGroup]="registrationForm" (ngSubmit)="registrationFormSubmit()">
    <h1 class="text-primary text-3xl text-center">Register</h1>
    <div class="max-w-[60%] mx-auto">
      <img src="/assets/images/Register.png" alt="Registration image" />
    </div>
    <!-- ! STEP:1 - EMAIL & PASSWORD -->
    <div *ngIf="step === 1">
      <!-- ? Steps -->

      <div class="flex justify-center items-center">
        <ul class="steps steps-horizontal lg:steps-horizontal">
          <li class="step step-primary"></li>
          <li class="step"></li>
          <li class="step"></li>
        </ul>
      </div>
      <!-- ? Form -->

      <div class="grid justify-center items-center w-full mx-auto gap-2">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text font-agrandirRegular">Email</span>
          </label>
          <input
            type="email"
            formControlName="email"
            placeholder="Your Email"
            class="input input-primary w-full max-w-xs"
            [class.input-error]="isFieldInvalid('email')"
          />
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              [class.hidden]="!isFieldInvalid('email')"
            >
              *Invalid Email
            </span>
          </label>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text font-agrandirRegular">Password</span>
          </label>
          <input
            type="password"
            formControlName="password"
            placeholder="Type here"
            class="input input-primary w-full max-w-xs"
            [class.input-error]="isFieldInvalid('password')"
          />
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error hidden"
              [class.hidden]="!isFieldInvalid('password')"
              >*Invalid Password</span
            >
          </label>
        </div>
        <!-- NEXT Button -->
        <div class="text-center mt-2">
          <button
            class="btn btn-primary px-6"
            [disabled]="
              isFieldInvalid('email') ||
              isFieldInvalid('password') ||
              !registrationForm.get('email')?.valid ||
              !registrationForm.get('password')?.valid
            "
            (click)="onEmailSubmit()"
          >
            Next
          </button>
          <p class="text-right mr-5 mt-5">
            Already have a account? please
            <a
              href="/customer/login"
              class="text-primaryGreen hover:text-primaryGreenHover"
              >Login</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- ! STEP:2 - First Name & Last Name -->
    <div *ngIf="step === 2">
      <!-- ? Steps -->
      <div class="flex justify-center items-center">
        <ul class="steps steps-horizontal lg:steps-horizontal">
          <li class="step step-primary"></li>
          <li class="step step-primary"></li>
          <li class="step"></li>
        </ul>
      </div>
      <!-- ? Form -->

      <div class="grid justify-center items-center w-full mx-auto gap-2">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text font-agrandirRegular">First Name</span>
          </label>
          <input
            type="text"
            placeholder="Ariful"
            formControlName="firstName"
            class="input input-primary w-full max-w-xs"
            [class.input-error]="isFieldInvalid('firstName')"
          />
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              [class.hidden]="!isFieldInvalid('firstName')"
              >*First Name Required</span
            >
          </label>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text font-agrandirRegular">Last Name</span>
          </label>
          <input
            type="text"
            formControlName="lastName"
            placeholder="Islam"
            class="input input-primary w-full max-w-xs"
            [class.input-error]="isFieldInvalid('lastName')"
          />
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              [class.hidden]="!isFieldInvalid('lastName')"
              >*Last Name Required.</span
            >
          </label>
        </div>
        <!-- NEXT Button -->
        <div class="text-center mt-2">
          <button
            class="btn btn-primary px-6"
            [disabled]="
              isFieldInvalid('firstName') ||
              isFieldInvalid('lastName') ||
              !registrationForm.get('firstName')?.valid ||
              !registrationForm.get('lastName')?.valid
            "
            (click)="increaseStep()"
          >
            Next
          </button>
          <p class="text-right mr-5 mt-5">
            Already have a account? please
            <a
              href="/customer/login"
              class="text-primaryGreen hover:text-primaryGreenHover"
              >Login</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- ! STEP:3 - Address & Postal Code -->

    <div *ngIf="step === 3">
      <!-- ? Steps -->

      <div class="flex justify-center items-center">
        <ul class="steps steps-horizontal lg:steps-horizontal">
          <li class="step step-primary"></li>
          <li class="step step-primary"></li>
          <li class="step step-primary"></li>
        </ul>
      </div>
      <!-- ? Form -->
      <div class="grid justify-center items-center w-full mx-auto gap-2">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text font-agrandirRegular">Address</span>
          </label>
          <textarea
            type="textarea"
            formControlName="address"
            placeholder="House: 1, Road: 9, Block: J, Baridhara, Dhaka-1212, Bangladesh"
            class="input input-primary w-full h-full max-w-xs resize-y min-h-[100px]"
            [class.input-error]="isFieldInvalid('address')"
          ></textarea>
          <!-- Invalid Form Input -->
          <label class="label">
            <span class="label-text-alt"></span>
            <span
              class="label-text-alt text-error"
              [class.hidden]="!isFieldInvalid('address')"
              >*Address required.</span
            >
          </label>
        </div>

        <!-- NEXT Button -->
        <div class="text-center mt-2">
          <button
            class="btn btn-primary px-6"
            type="submit"
            [disabled]="
              isFieldInvalid('address') ||
              !registrationForm.get('address')?.valid
            "
          >
            Submit
          </button>
          <p class="text-right mr-5 mt-5">
            Already have a account? please
            <a
              href="/customer/login"
              class="text-primaryGreen hover:text-primaryGreenHover"
              >Login</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- ! Success Screen -->
    <div *ngIf="registrationCompleted">
      <div class="success-checkmark">
        <div class="check-icon my-10">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>
      <div class="text-center mt-2">
        <button class="btn btn-primary px-6" (click)="HandleHomeBtnClick()">
          Go To Home
        </button>
      </div>
    </div>
  </form>
</section>
