<section class="container">
  <app-header></app-header>
  <!-- User Profile page -->
  <!-- 
  firstName: string;
  lastName: string;
  email: string;
  password: string;
  address: string;
  postalCode: string;
  role: string;
 -->
  <div>
    <ng-template #login>
      <p>Please Login</p>
      <a routerLink="/customer/login" class="btn btn-primary">Please Login</a>
    </ng-template>
    <div
      *ngIf="customerDetails; else login"
      class="flex justify-center flex-col gap-2 items-center my-2"
    >
      <div
        class="flex justify-center items-center rounded-full bg-secondaryLime border-4 border-solid border-primary"
      >
        <svg
          width="200"
          height="200"
          viewBox="0 0 200 200"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M101.871 95.0237C100.988 94.9354 99.9276 94.9354 98.9559 95.0237C77.9308 94.317 61.2346 77.0908 61.2346 55.8894C61.2346 34.2463 78.7258 16.6667 100.458 16.6667C122.101 16.6667 139.68 34.2463 139.68 55.8894C139.592 77.0908 122.896 94.317 101.871 95.0237Z"
            fill="#067A46"
          />
          <path
            d="M57.7003 127.621C36.3222 141.932 36.3222 165.254 57.7003 179.476C81.9937 195.731 121.835 195.731 146.128 179.476C167.506 165.165 167.506 141.844 146.128 127.621C121.923 111.455 82.082 111.455 57.7003 127.621Z"
            fill="#067A46"
          />
        </svg>
      </div>
      <h2 class="tracking-tighter text-4xl">
        {{ customerDetails.firstName }} {{ customerDetails.lastName }}
      </h2>
      <p class="self-start">Address: {{ customerDetails.address }}</p>
      <p class="self-start">Postal Code: {{ customerDetails.postalCode }}</p>
    </div>
    <div>
      <h2 class="font-bold">Orders</h2>
      <ul
        *ngIf="orders"
        class="flex flex-col justify-center items-start w-full gap-2 mb-[64px]"
      >
        <li
          *ngFor="let order of orders"
          class="border-2 rounded border-primary p-2"
        >
          <p>
            Order ID: <span class="font-bold">#{{ order._id }}</span>
          </p>
          <p>
            Order Status:
            <span
              class="badge badge-secondary"
              *ngIf="order?.orderStatus === 'DELIVERED'"
              >{{ order.orderStatus }}</span
            >
            <span
              class="badge bg-secondaryLimeHover"
              *ngIf="order?.orderStatus === 'SHIPPED'"
              >{{ order.orderStatus }}</span
            >
            <span
              class="badge bg-secondaryLime"
              *ngIf="order?.orderStatus === 'PENDING'"
              >{{ order.orderStatus }}</span
            >
            <span
              class="badge badge-error"
              *ngIf="order?.orderStatus === 'CANCELED'"
              >{{ order.orderStatus }}</span
            >
          </p>
          <p>Items</p>
          <ul class="flex flex-col justify-center items-start w-full gap-2">
            <li
              *ngFor="let item of order.items"
              class="border-2 border-solid bg-secondaryLimeHover rounded w-full p-2 flex justify-between items-center"
            >
              <div>
                <p>Name: {{ item.name }}</p>
                <p>Quantity: {{ item.quantity }}</p>
              </div>
              <p>Total: {{ item.totalAmount | takaCurrency }}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-bottom-menu></app-bottom-menu>
