<section
  class="flex justify-center items-center max-w-screen max-h-screen w-screen h-screen"
>
  <div class="flex-col justify-center items-center">
    <div class="max-w-[80%] mx-auto">
      <img
        src="/assets/images/Login-Register-Screen.png"
        alt="login or registration image"
      />
    </div>
    <div class="text-center mb-10">
      <h1 class="text-5xl font-agrandirBold tracking-[-4px]">
        Med<span class="text-primary">Xpress</span>
      </h1>
      <p>Medicine at your door step.</p>
    </div>
    <div
      class="flex flex-col gap-5 justify-around items-center max-w-[80%] mx-auto"
    >
      <button
        (click)="onLoginClick()"
        class="btn btn-outline btn-primary font-sspBold w-full"
      >
        Shop Login
      </button>
      <button
        (click)="onRegisterClick()"
        class="btn btn-primary font-sspBold w-full"
      >
        Shop Register
      </button>
    </div>
  </div>
</section>
