<!-- ! Header -->
<app-header></app-header>
<div class="mb-16">
  <!-- ! Search Box -->
  <app-search></app-search>

  <!-- ! Carousel -->

  <!-- ! Categories -->
  <app-category-list></app-category-list>

  <!-- ! Product Category with Product -->

  <app-products-by-category></app-products-by-category>

  <!-- ! Bottom Menu -->
  <app-bottom-menu></app-bottom-menu>

  <!-- ! Sidebar -->

  <!-- ! Modal -->
  <div>
    <!-- You can open the modal using ID.showModal() method -->
    <dialog id="my_modal_2" class="modal backdrop-blur-sm" [open]="showModal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click outside to close</p>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</div>
