<section class="grid justify-center items-center min-h-screen">
  <form [formGroup]="loginForm" (ngSubmit)="handleLoginClick()">
    <h1 class="text-primary text-3xl text-center">Login</h1>
    <div class="max-w-[80%] mx-auto">
      <img src="/assets/images/Login.png" alt="login or registration image" />
    </div>
    <div class="grid justify-center items-center w-full mx-auto gap-2">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text font-agrandirRegular">Email</span>
        </label>
        <input
          type="text"
          placeholder="Type here"
          class="input input-primary w-full max-w-xs"
          formControlName="email"
          [class.input-error]="isFieldInvalid('email')"
          required
        />
        <!-- Invalid Form Input -->
        <label class="label">
          <span class="label-text-alt"></span>
          <span
            class="label-text-alt text-error"
            *ngIf="isFieldInvalid('email')"
            class="text-error"
            >*Invalid Email</span
          >
        </label>
      </div>

      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text font-agrandirRegular">Password</span>
        </label>
        <input
          type="password"
          placeholder="Type here"
          class="input input-primary w-full max-w-xs"
          formControlName="password"
          [class.input-error]="isFieldInvalid('password')"
          required
        />
        <!-- Invalid Form Input -->
        <label class="label">
          <span class="label-text-alt"></span>
          <span
            class="label-text-alt text-error"
            *ngIf="isFieldInvalid('password')"
            class="text-error"
            >*Invalid Password</span
          >
        </label>
      </div>

      <div class="text-center mt-2 w-full">
        <button
          class="btn btn-primary px-6"
          [disabled]="
            isFieldInvalid('email') ||
            isFieldInvalid('password') ||
            !loginForm.get('email')?.valid ||
            !loginForm.get('password')?.valid
          "
        >
          Login
        </button>
        <p class="text-right mr-5">
          Don't have a account please
          <a
            href="/customer/register"
            class="text-primaryGreen hover:text-primaryGreenHover"
            >Register</a
          >
        </p>
      </div>
      <!-- <div>
        <p>
          Don't have a account please
          <a
            href="/user/register"
            class="text-primaryGreen hover:text-primaryGreenHover"
            >Register</a
          >
        </p>
      </div> -->
    </div>

    <!-- Toast -->
    <!-- <div class="toast toast-end">
      <div class="alert alert-error">
        <span>Invalid Email or Password</span>
      </div>
    </div> -->
  </form>
</section>
