<section class="px-4 pb-2">
  <div class="relative">
    <input
      type="text"
      placeholder="Search"
      class="input input-bordered input-primary w-full rounded"
      (keyup)="searchProduct($event)"
    />
    <button>
      <img
        src="/assets/icons/search.svg"
        alt="search icon"
        class="absolute top-1/2 transform -translate-y-1/2 right-3"
      />
    </button>
  </div>
  <div *ngIf="serachResult.length !== 0">
    <ul class="bg-white border border-secondaryLime w-full mt-2 rounded">
      <li
        class="pl-8 pr-2 py-1 border-b-2 border-secondaryLime relative cursor-pointer hover:bg-secondaryLimeHover hover:text-gray-900"
        *ngFor="let product of serachResult"
      >
        <a routerLink="/products/{{ product._id }}">
          <div class="flex items-center justify-start gap-2">
            <img [src]="setImage(product)" alt="" class="max-h-[20px]" />
            <p class="text-md text-center">{{ product.name }}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
