<!-- ! Herbal Products  -->
<section>
  <h3 class="font-agrandirRegular pl-4">Herbal</h3>
  <div
    class="py-2 flex flex-row flex-grow gap-5 justify-start items-center overflow-x-auto product-list px-4"
  >
    <div
      class="flex justify-center items-center w-full h-full"
      *ngIf="isLoading; else loadHerbalProducts"
    >
      <div class="loading loading-bars text-primary loading-lg"></div>
    </div>
    <ng-template #loadHerbalProducts>
      <app-product
        *ngFor="let product of herbalProducts"
        [product]="product"
      ></app-product>
    </ng-template>
  </div>
</section>

<!-- ! Allopathy Products -->
<section>
  <h3 class="font-agrandirRegular pl-4 pt-2">Allopathy</h3>
  <div
    class="py-3 flex flex-row flex-grow gap-5 justify-start items-center overflow-x-auto product-list px-4"
  >
    <div
      class="flex justify-center items-center w-full h-full"
      *ngIf="isLoading; else loadHerbalProducts"
    >
      <div class="loading loading-bars text-primary loading-lg"></div>
    </div>
    <ng-template #loadAllopathyProducts>
      <app-product
        *ngFor="let allopathyProduct of allopathyProducts"
        [product]="allopathyProduct"
      ></app-product>
    </ng-template>
  </div>
</section>
